extend base

block content
    .container-xxl
        .row
            .col-sm-3.me-links
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link(href='/me/settings') My Settings
                         
                    li.nav-item.active
                        a.nav-link(href='/me/listings') My Listings
                    li.nav-item
                        a.nav-link(href='/me/purchases') My Purchases
                    hr
                    li.nav-item
                        a.nav-link My Seller's page
            .col-sm-9.me-listings
                h4.mt-3 My Current Listings
                .row
                    each product in user.products
                        .col-md-4
                            .card
                                img.card-img( src=`/img/products/${product.photo}`)
                                .card-body
                                    -const date = `${product.createdAt}`.split(' GMT')[0]

                                    .card-title=`Name: ${product.name}`
                                    .card-title=`Category: ${product.category}`
                                    .card-title=`Price: $${product.price}`
                                    .card-title=`Date Posted: ${date}`
                                .card-footer.text-center.mt-3 
                                    a.btn.btn-outline-danger.ml-2(href=`/me/listings/${product.id}`) Edit / Delete
                hr
                h4 Post a new item!
                form.list-product
                    .form-group
                        label(for="name") Product name
                        input(type="name" class="form-control" id="list-name" placeholder="Specific & Succinct")
                    .form-group
                        label(for="price") Price
                        input.form-control(type="number" id="list-price" placeholder='$$$')
                    .form-group
                        label(for="category") Category
                        select.form-control(type="category" id="list-category")
                            option(value='Art') Art
                            option(value='Auto') Auto
                            option(value='Clothing') Clothing
                            option(value='Electronics') Electronics
                            option(value='Home') Home
                    .form-group.file-upload
                        img#settings-product-photo.mr-3.my-3(src=`/img/products/default-product.jpg`)
                        input#product-photo-upload.form-control-file.align-self-center.w-25.ml-3(type="file" accept='image/*' onchange="document.getElementById('settings-product-photo').src = window.URL.createObjectURL(this.files[0])")
                    
                    .move-button.text-center
                        button(type="submit" class="btn btn-primary w-50") Create New Listing
