extends base

block content
    .container-xxl.mx-auto
        .banner
            img#banner-img.mr-5(src='/img/banner-img.png')
            h5.pt-2.d-inline Shop, Sell, and Review On The World's #1 Virtual Marketplace
        .row 
            #filter.col-md-3.col-lg-2
                #accordion.panel-group.mt-4.sticky-top
                    .panel
                        .panel-heading
                            .panel-title
                                a(href="#panelBodyOne" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion") Categories
                        #panelBodyOne.panel-collapse.collapse.panel-body
                            a.nav-item.nav-link(href="/?category=Art") Art
                            a.nav-item.nav-link(href="/?category=Auto") Auto
                            a.nav-item.nav-link(href="/?category=Clothing") Clothing
                            a.nav-item.nav-link(href="/?category=Electronics") Electronics
                            a.pb-3.nav-item.nav-link(href="/?category=Home") Home
                    .panel
                        .panel-heading
                            .panel-title
                                a(href="#panelBodyTwo" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion") Price
                        #panelBodyTwo.panel-collapse.collapse.panel-body
                            form#price-range.text-center.pt-4.pb-2
                                input.price-min(placeholder='min')
                                h5.d-inline=`  to  `
                                input.price-max(placeholder='max')
                            hr
                            a.nav-item.nav-link(href="/?sort=price") Price: Low
                            a.pb-3.nav-item.nav-link(href="/?sort=-price") Price: High
                    .panel
                        .panel-heading
                            .panel-title
                                a(href="#panelBodyThree" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion") Date Created
                        #panelBodyThree.panel-collapse.collapse.panel-body
                            a.nav-item.nav-link(href="/?sort=-createdAt") Newest
                            a.nav-item.nav-link(href="/?sort=createdAt") Oldest


            .col-md-9.col-lg-10.mx-auto.mt-3
                .grid#products-list
                    each product in products
                        -const index = products.indexOf(product)
                        #product.grid-item
                            a(data-toggle="modal" data-target=`#product-${index}-modal`)
                                .card.my-2.mx-2
                                    img.card-img-top(src=`/img/products/${product.photo}`)
                                    .card-body
                                        .card-title.card-name=product.name

                                        -const formattedPrice = `$${Number(product.price).toLocaleString()}.00`
                                        .card-subtitle.card-price=formattedPrice


                        .modal.fade(id=`product-${index}-modal`)
                            .modal-dialog.modal-dialog-centered.modal-xl
                                .modal-content
                                    .modal-body
                                        .row
                                            .col-md-6.my-auto.text-center
                                                img#modal-img.m-3(src=`/img/products/${product.photo}`)
                                            .col-md-6.text-center.h-100.text-white
                                                .product-details
                                                    .modal-title.mt-5=product.name
                                                    .modal-title.mt-3=formattedPrice
                                                hr
                                                .seller-details.text-center
                                                    h4.pb-3.mt-3 Posted by...
                                                    img.rounded-circle.pb-3(src=`/img/users/${product.seller.photo}`)
                                                    h5.pb-2=product.seller.name
                                                    .seller-reputation.pb-3
                                                        if product.seller.reputation !== -1
                                                            each star in [1,2,3,4,5]
                                                                i.fas.fa-star.d-inline(class=`reputation-star-${product.seller.reputation >= star ? 'active' : 'inactive'}`)
                                                        else
                                                            h6  This seller has no reviews yet
                                                    if user
                                                        a.purchase-btn.btn.btn-outline-primary.mx-3(data-id=product.id) Buy Now
                                                    else
                                                        a.btn.btn-outline-primary.mx-3 Log In to Purchase


